@import url('bootstrap/css/bootstrap.css'); 
@import url('bootstrap/css/bootstrap-responsive.css');
@import url('css/flexslider.css');

/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2,h3,h4,h5,h6, p, blockquote, pre, a,abbr, acronym, address, big, cite,code, del, dfn, em, font, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,u,i,center, dl, dt,dd,ol,ul,li,
fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline;
	background: transparent; }

/*fonts*/

/*Basic style*/

body {
	line-height: 1;
	font-weight: 300;
	font-size: 16px;
	background: #f9f9f9;
	font-family: Segoe UI, Verdana, Geneva, sans-serif;
	background: url(img/44.jpg);
	background-color: #336699;
}
ul,ol {

	list-style: none;
}
article, aside, footer, header, hgroup, nav, section, {
	display: block;
}  

a {
	clear: both;
}

h1, h2, h3, h4,h5, h6 {
	padding-bottom: 5px;
	color: #454545;
	line-height: 1em;
	font-weight: normal;
}


h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #111;
}

h1 {font-size: 30px;}
h2 {font-size: 24px;} 
h3 {font-size: 22px;}
h4 { font-size: 18px;}
h5 { font-size: 16px;}
h6 { font-size: 14px;}

p{
	padding-bottom: 10px;
	line-height: 24px;
}

img{
	max-width: 100%;
	height: auto;
}

.container{
	width: 960px;
	margin:0 auto;
}

/*background */
#footer-botton{
	background: url(img/background.jpg);
}

/*header*/
#top {
	position: absolute;
	z-index: 100;
	width: 100%;
	background:none !important;
}

.top-content{
	padding-top: 50px;
	position: relative;
}

#logo{
	float: left;
	margin-right: 60px;
	padding-top: 10px;
	font-family: 'Segoe UI', Verdana, Geneva, sans-serif;
}

#header-menu-wrap{
	float:left;
	padding-top: 27px;
}

#menu-top{
	float:left;
}

#menu-top li {

float:left;
margin: 0 10px;
}

#menu-top > ul > li:first-child {
margin-left: 0;
}

#menu-top a {
	color:#fff;
	position: relative;
	text-decoration: none;
	font-style: 20px;
}
#menu-top a:hover {
	text-shadow: 0 0 0.4em #2AFF00, 0 0 0.4em #e90000, 0 0 0.4em #2AFF00;
}